.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 228px;
  width: 570px;
  margin: 126px auto 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 121px;
  height: auto;
  width: 570px;
  margin: 126px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }
}