.u-section-1 .u-sheet-1 {
  min-height: 895px;
}

.u-section-1 .u-text-1 {
  margin: 56px 983px 0 34px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1098px;
  margin: 56px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 537px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 62px;
  margin: 0 566px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1098px;
  margin: 38px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 113px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 28px;
  margin: 0 0 0 9px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 113px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 21px;
}

.u-section-1 .u-form-1 {
  height: 77px;
  width: 595px;
  margin: -14px auto -5px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding-left: 250px;
  padding-right: 250px;
}

.u-block-c55a-30 {
  margin-left: 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 29px;
  margin: 11px 1041px 0 27px;
}

.u-section-1 .u-custom-html-4 {
  min-height: 45px;
  width: 347px;
  margin: -29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 408px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 97px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-top: 11px;
    margin-right: 32px;
    margin-left: 26px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 97px;
  }

  .u-section-1 .u-form-1 {
    width: 723px;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    margin-right: 868px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 21px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 188px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 14px;
    margin-left: 8px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 648px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 48px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 268px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 157px;
}