.u-section-1 .u-sheet-1 {
  min-height: 1320px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 78px;
  margin: 14px 418px 0 24px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1010px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 946px;
  width: 628px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-decoration: underline !important;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 792px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 96px;
  margin: 22px auto 0;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 54px;
  min-height: 150px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 45px auto 0 200px;
  padding: 9px 46px 10px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -61px 200px 0 auto;
  padding: 9px 46px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 151px;
    height: auto;
    margin-top: -111px;
    margin-right: 231px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 833px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 231px;
    height: auto;
    width: 614px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 653px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -594px;
    margin-right: 73px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 601px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 73px;
    width: 456px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 32px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -366px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 373px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 116px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -431px;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: auto;
    width: 320px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 71px;
  }
}