.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 720px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 0 0 0 6px;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 86px 0 0 388px;
}

.u-section-1 .u-text-4 {
  margin: 67px 0 0 370px;
}

.u-section-1 .u-text-5 {
  margin: 67px 0 0 304px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 720px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 23px;
  height: auto;
  width: 74px;
  margin: 9px 430px 0 6px;
}

.u-section-1 .u-form-1 {
  height: 325px;
  margin: 150px 20px 0 -20px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 47px;
  height: auto;
  margin: 9px 282px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 204px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 594px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 116px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 202px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 94px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 46px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 226px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}