.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1603px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 376px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 209px;
  height: auto;
  width: 320px;
  margin: 51px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 376px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 202px;
  height: auto;
  margin: 0 85px 0 102px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 1163px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 978px;
  height: auto;
  width: 450px;
  margin: 36px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 1163px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-4 {
  min-height: 980px;
  height: auto;
  width: 450px;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 140px;
    margin-top: 122px;
    margin-right: 59px;
    margin-left: 96px;
    width: 323px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 959px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 410px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 959px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
    margin-left: 145px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 410px;
    margin-top: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 4px;
    margin-left: 41px;
    width: 300px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 106px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1656px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 113px;
  }
}